<div class="container done">

{% set lastDate = '' %}
{% set lastSection = '' %}

{% for item in items %}
    {% set thisDate = item.completed | date('F jS, Y') %}
    {% set thisSection = item.section.name %}

    {% if lastDate != '' and thisDate != lastDate %}
        <div class="row">
            <div class="col-12">
                <hr width="90%">
            </div>
        </div>
    {% elseif lastSection != '' and thisSection != lastSection %}
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-2 text-start text-md-end">
            {% if thisDate != lastDate %}
                <div class="mb-2 mb-md-0">{{ thisDate }}</div>
            {% endif %}
        </div>
        <div class="col-6 col-md-2">
            {% if thisSection != lastSection or thisDate != lastDate %}
                {{ item.section.name }}
            {% endif %}
        </div>
        <div class="col-6 col-md-8">
            {{ item.task }}
        </div>
    </div>
    {% set lastDate = thisDate %}
    {% set lastSection = thisSection %}
{% endfor %}

</div>
