<div class="container done">

{% set lastDate = '' %}

{% for item in items %}
    {% set thisDate = item.completed | date('F jS, Y') %}

    {% if lastDate != '' and thisDate != lastDate %}
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-2 text-right">
            {% if thisDate != lastDate %}
                {{ thisDate }}
            {% endif %}
        </div>
        <div class="col-6 col-md-6">
            {{ item.task }}
        </div>
        <div class="col-6 col-md-2 text-right">
            ({{ item.section.name }})
        </div>
    </div>
    {% set lastDate = thisDate %}
{% endfor %}

</div>
