@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

body {
    font-size: 1.2rem;
}

div.container {
    max-width: 100%;
}

div.wrapper {
    column-count: 2;
}

div.wrapper-large {
    column-fill: balance;
}

div.wrapper-small {
    column-fill: auto;
}

div.section {
    break-inside: avoid;
}

div.item-row {
    padding-bottom: 5px;
    line-height: 1;
}

.section-label {
    font-weight: bold;
    font-variant: small-caps;
}

.empty-list {
    font-weight: bold;
}

.btn-link:hover, .btn-link:visited, .btn-link:focus {
    text-decoration: none;
}

a.section-link {
    text-decoration: none;
    color: black;
}

.high-priority {
    color: blue;
}

.low-priority {
    font-weight: lighter;
    color: black;
}

.closed {
    text-decoration: line-through;
}

.print {
    display: none;
}

.no-print {
    display: initial;
}

.note {
    font-size: x-small;
}

canvas.mainChart {
    width: 400px;
    height: max-content;
}

canvas.printChart {
    width: max-content;
    height: max-content;
}

div.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen {
    @include media-breakpoint-down(md) {
        div.wrapper {
            column-count: 1;
        }

        canvas.mainChart {
            width: fit-content;
            height: fit-content;
        }
    }
}

@media print {
    body {
        font-size: 1.2rem;
    }

    div.wrapper {
        column-count: 2;
        column-fill: auto;
        font-size: 1.4rem;
    }

    div.item-row {
        padding-bottom: 0;
        line-height: 1.15;
    }

    div.summary {
        font-size: 1.2rem;
    }

    .high-priority {
        font-weight: bold;
        color: black;
    }

    .print {
        display: initial;
    }

    .no-print {
        display: none;
    }

    span.checkboxes {
        font-family: "Times New Roman", serif
    }
}
