<table width=100%>
    <tr>
        <td align=left>
            <b>{{ title }}</b>
        </td>
        <td align=right>
            <a href="index.php">Home</a>
        </td>
    </tr>
</table>

<hr />
