body {
    font-size: 1.2rem;
}

div.container {
    max-width: 100%;
}

div.done {
    font-size: 1rem;
}

div.wrapper {
    column-count: 2;
}

div.wrapper-large {
    column-fill: balance;
}

div.wrapper-small {
    column-fill: auto;
}

div.section {
    break-inside: avoid;
}

div.item-row {
    padding-bottom: 5px;
    line-height: 1;
}

.section-label {
    font-weight: bold;
    font-variant: small-caps;
}

.empty-list {
    font-weight: bold;
}

.btn-link:hover, .btn-link:visited, .btn-link:focus {
    text-decoration: none;
}

a.section-link {
    text-decoration: none;
    color: black;
}

span.high-priority {
    color: blue;
}

span.low-priority {
    color: grey;
}

.closed {
    text-decoration: line-through;
}

.deleted {
    text-decoration: line-through;
    text-decoration-style: wavy;
    background-color: red;
    color: white;
}

.print {
    display: none;
}

.no-print {
    display: initial;
}

.note {
    font-size: x-small;
}

canvas.mainChart {
    width: 400px;
    height: max-content;
}

canvas.printChart {
    width: max-content;
    height: max-content;
}

div.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 991.98px) {
    div.wrapper {
        column-count: 1;
    }

    canvas.mainChart {
        width: fit-content;
        height: fit-content;
    }
}

@media print {
    /**
     * Force default printed page size to US Letter.
     *
     * Needed to force correct page size on "Save to PDF".
     *
     * Are you using this app, and want the ability to choose a different page
     * size?  I realize I'm hard-coding this instead of offering a choice.
     * Please open a ticket (issue) on GitHub to let me know.
     *
     * Thanks!
     *
     * https://github.com/dharple/todo/issues
     */
    @page {
        size: 8.5in 11in;
        margin: 0.5in;
    }

    body {
        font-size: 1.2rem;
        color: black;
    }

    div.wrapper {
        column-count: 2;
        column-fill: auto;
        font-size: 1.4rem;
    }

    div.item-row {
        padding-bottom: 0;
        line-height: 1.15;
    }

    div.summary {
        font-size: 1.2rem;
    }

    span.high-priority {
        color: black;
        font-weight: bold;
    }

    span.low-priority {
        color: black;
        font-weight: lighter;
    }

    .print {
        display: initial;
    }

    .no-print {
        display: none;
    }

    span.checkboxes {
        font-family: "Times New Roman", serif;
    }
}
