.main-window {
    width: 100%;
}

.login-window {
    width: 100%;
    max-width: 400px;
}

td {
    vertical-align: top;
    font-size: 14pt;
}

.high_priority {
    color: blue;
}

.estimate {
    color: red;
}

.closed {
    text-decoration: line-through;
}

.estimate_total {
    color: red;
    font-weight: bold;
}

fieldset.todoList legend {
    font-size: 14pt;
    font-weight: bold;
    font-variant: small-caps;
}

fieldset.todoList a {
    text-decoration: none;
    color: black;
}

fieldset.todoList input {
    margin-left: 1rem !important;
    margin-right: .5rem !important;
}
