body {
    font-size: 14pt;
}

div.container {
    max-width: 100%;
}

div.wrapper {
    column-count: 2;
    font-size: 14pt;
}

div.wrapper-large {
    column-fill: balanced;
}

div.wrapper-small {
    column-fill: auto;
}

div.section {
    break-inside: avoid;
}

div.item-row {
    padding-bottom: 5px;
    line-height: 1;
}

.section-label {
    font-weight: bold;
    font-variant: small-caps;
}

.btn-link:hover, .btn-link:visited, .btn-link:focus {
    text-decoration: none;
}

a.section-link {
    text-decoration: none;
    color: black;
}

.high_priority {
    color: blue;
}

.closed {
    text-decoration: line-through;
}

.print {
    display: none;
}

.noprint {
    display: initial;
}

@media print {
    body {
        font-family: "Times New Roman";
        font-size: 16pt;
    }

    div.wrapper {
        column-count: 2;
        column-fill: auto;
        font-size: 18pt;
    }

    div.item-row {
        padding-bottom: 0;
        line-height: 1.15;
    }

    .high_priority {
        font-weight: bold;
        color: black;
    }

    .print {
        display: initial;
    }

    .noprint {
        display: none;
    }

}
