body {
    margin: 0in;
}

input {
    width: 30px;
    height: 12px;
}

td {
    font-size: 12pt;
}

div.wrapper {
    column-count: 2;
    column-fill: auto;
    font-size: 12pt;
}

ul.list {
    padding-left: 10px;
}

input.list-item {
    margin-right: 10px;
}

.high_priority {
    font-weight: bold;
    color: black;
}
