{% extends 'base.html.twig' %}

{% block title %}
    Todo
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 sticky-top">
    <a class="navbar-brand" href="{{ path('app_home') }}">Todo List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto ml-4">
            <li class="nav-item">
                <a class="nav-link" href="">Add Section</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a class="nav-link" href="">Print</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a class="nav-link" href="">Export</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-4">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid main-window">
    <div class="row">
        <div class="col text-center">
            <h1>Todo List For DH</h1>
        </div>
    </div>

    <hr class="mx-4" />

    <div class="row">
        <div class="col-md-6">
            <fieldset class="todoList" data-id="1">
                <legend>House <span class="badge badge-secondary">1</span></legend>

                <input type="checkbox" id="item1" name="item[1]">
                <label for="item1">Drain hot water heater</label>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="todoList" data-id="2">
                <legend>Work <span class="badge badge-secondary">2</span></legend>

                <input type="checkbox" id="item2" name="item[2]">
                <label for="item2">Finish TPS Report</label><br />

                <input type="checkbox" id="item3" name="item[3]">
                <label for="item3">Migrate away from HTML tables</label>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
