{% extends 'base.html.twig' %}

{% set title = 'Priority Editor' %}

{% block body %}
{% include 'partials/page/head.html.twig' %}

<form method=POST action="item_prioritize.php">
    <input type="hidden" name="ids" value="{{ ids }}" />
    {{ list | raw }}
    <br />
    <input type="submit" name="submitButton" value="Update" {% if not hasItems %}disabled{% endif %} />
</form>
{% endblock %}
