{% extends 'base.html.twig' %}

{% set title = 'Item Bulk Add' %}

{% block body %}
{% include 'partials/page/head.html.twig' %}

<form method="POST" action="item_bulk_add.php">

    Bulk Adding...<br /><br />

    Section:
    {% include('partials/form/section.html.twig') %}
    <br />

    Priority:
    {% include('partials/form/priority.html.twig') %}
    <br />

    <table>
        <tr>
            <td>
                Tasks (newline separated):<br />
                <textarea name="tasks" cols=60 rows=15></textarea><br />
            </td>
        </tr>
    </table>

    <hr />

    <input type="submit" name="submitButton" value="Do It">
    <input type="submit" name="submitButton" value="Do It, Then Add Another">

</form>

{% endblock %}
