{% extends 'base.html.twig' %}

{% block title %}
Priority Editor
{% endblock %}

{% block body %}
<table width=100%>
    <tr>
        <td align=left>
            <b>Priority Editor</b>
        </td>
        <td align=right>
            <a href="index.php">Home</a>
        </td>
    </tr>
</table>

<hr />

<form method=POST action="item_prioritize.php">
    <input type="hidden" name="ids" value="{{ ids }}" />
    {{ list | raw }}
    <br />
    <input type="submit" name="submitButton" value="Update" {% if not hasItems %}disabled{% endif %} />
</form>
{% endblock %}
