{% extends 'base.html.twig' %}

{% set title = "Login" %}

{% block body %}
<div class="row h-100 align-items-center justify-content-center">
    <div class="col-lg-3">
        {% if user %}
            <div class="mb-3 text-center">
                You are logged in as {{ user.username }}. <a href="logout.php">Logout?</a>
            </div>
        {% endif %}
        <form method="post">
            <div class="d-grid">
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            </div>
            <div class="d-grid mt-3">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <div class="d-grid mt-3">
                <input type="submit" name="submitButton" value="Login" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
