{% extends 'base.html.twig' %}

{% set title = "Items Done - " ~ period %}

{% block body %}

<table width=100%>
    <tr>
        <td align=left>
            <b>{{ title }}</b>
        </td>
        <td align=right>
            {% if sort == 'section' %}
                <a href="show_done.php?sort=task&view={{ view }}">Main View</a>
            {% else %}
                <a href="show_done.php?sort=section&view={{ view }}">Alternate View</a>
            {% endif %}
            |
            <a href="index.php">Home</a>
        </td>
    </tr>
</table>

<hr />

{% if sort == 'section' %}
    {% include 'partials/show_done/by_section.html.twig' %}
{% else %}
    {% include 'partials/show_done/by_task.html.twig' %}
{% endif %}

{% endblock %}
