{% extends 'base.html.twig' %}

{% set title = "Items Done - " ~ period %}

{% block body %}

<div class="no-print">
    <div class="container done">
        <div class="row">
            <div class="col-12 col-md-6 text-center text-md-start">
                <b>{{ title }}</b>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                {% if sort == 'section' %}
                    <a href="show_done.php?sort=task&view={{ view }}">Main View</a>
                {% else %}
                    <a href="show_done.php?sort=section&view={{ view }}">Alternate View</a>
                {% endif %}
                |
                <a href="index.php">Home</a>
            </div>
        </div>
    </div>

    <hr />
</div>

{% if sort == 'section' %}
    {% include 'partials/show_done/by_section.html.twig' %}
{% else %}
    {% include 'partials/show_done/by_task.html.twig' %}
{% endif %}

{% endblock %}
