<select name="priority">
    {% for priority in todo_priority.high..todo_priority.low %}
        <option value="{{ priority }}" {% if priority == selectedPriority %}selected {% endif %}/>
            {{- priority -}}
        </option>
    {% endfor %}
</select>
