<select name="{{ selectName ?? 'section' }}">
    {% for section in sections %}
        <option value="{{ section.id }}" {% if section.id == selectedSection %}selected {% endif %}/>
            {{- section.name -}}
            {%- if section.status == 'Inactive' %} (Inactive){% endif -%}
        </option>
    {% endfor %}
</select>
